
[role="button"] {
    cursor: pointer;
}

.testimonial_carousel {
    position: relative;
    display: block;
}

.testimonial-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: block;
}

.testimonial-inner > .testimonial-carousel-item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
    background: #f2f2f2;
}

.testimonial-inner > .testimonial-carousel-item blockquote {
    background: transparent;
    border-left: 0px;
    font-style: italic;
    margin: 1.5em 10px;
    padding: 1em 10px;
    text-align: center;
    display: block;
    position: relative;
}

.testimonial-inner > .testimonial-carousel-item blockquote:before {
    content: "";
    width: 75%;
    border-top: 1px solid #ddd;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.testimonial-inner > .testimonial-carousel-item blockquote:after {
    content: "";
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    transform: translateX(-50%) rotate(45deg);
}

.testimonial-inner > .testimonial-carousel-item .cite {
    color: rgba(0, 0, 0, 0.62);
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.testimonial-inner > .testimonial-carousel-item .cite .testimonials-name {
    display: block;
    position: relative;
    clear: both;
    margin: auto;
}

.testimonial-inner > .testimonial-carousel-item .cite .testimonials-name {
    display: block;
    position: relative;
    clear: both;
    margin: auto;
}

.testimonial-inner > .testimonial-carousel-item > img,
.testimonial-inner > .testimonial-carousel-item > a > img {
    line-height: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .testimonial-inner > .testimonial-carousel-item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

    .testimonial-inner > .testimonial-carousel-item.next,
    .testimonial-inner > .testimonial-carousel-item.active.right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0;
    }

    .testimonial-inner > .testimonial-carousel-item.prev,
    .testimonial-inner > .testimonial-carousel-item.active.left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0;
    }

    .testimonial-inner > .testimonial-carousel-item.next.left,
    .testimonial-inner > .testimonial-carousel-item.prev.right,
    .testimonial-inner > .testimonial-carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

.testimonial-inner > .active,
.testimonial-inner > .next,
.testimonial-inner > .prev {
    display: block;
}

.testimonial-inner > .active {
    left: 0;
}

.testimonial-inner > .next,
.testimonial-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.testimonial-inner > .next {
    left: 100%;
}

.testimonial-inner > .prev {
    left: -100%;
}

.testimonial-inner > .next.left,
.testimonial-inner > .prev.right {
    left: 0;
}

.testimonial-inner > .active.left {
    left: -100%;
}

.testimonial-inner > .active.right {
    left: 100%;
}

.testimonial-control {
    position: absolute;
    top: 45%;
    width: 100%;
}

.testimonial-control a {
    background: #7a4b94;
    opacity: 1;
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 8px 11px;
    font-size: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.testimonial-control a .nav-icon {
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin: auto;
    display: block;
    position: relative;
    text-indent: -100px;
    overflow: hidden;
}

.testimonial-control .testimonial-control-prev {
    position: absolute;
    left: -3%;
}

.testimonial-control .testimonial-control-next {
    position: absolute;
    right: -3%;
}

.testimonial-control a .prev-icon {
    border-right: 6px solid #fff;
    margin-right: 1px;
}

.testimonial-control a .next-icon {
    border-left: 6px solid #fff;
    margin-left: 1px;
}

.testimonial-carousel-indicators {
    position: absolute;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin: 0;
    padding: 0;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    bottom: -50px;
}

.testimonial-carousel-indicators li {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 1px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    background: #bcbcbc;
}

.testimonial-carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}

.testimonial-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.testimonial-caption .btn {
    text-shadow: none;
}

@media screen and (min-width: 768px) {
    .testimonial-control .glyphicon-chevron-left,
    .testimonial-control .glyphicon-chevron-right,
    .testimonial-control .icon-prev,
    .testimonial-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }

    .testimonial-control .glyphicon-chevron-left,
    .testimonial-control .icon-prev {
        margin-left: -10px;
    }

    .testimonial-control .glyphicon-chevron-right,
    .testimonial-control .icon-next {
        margin-right: -10px;
    }

    .testimonial-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px;
    }

    .testimonial-carousel-indicators {
        bottom: -12px;
    }
}

@media (-webkit-transform-3d) {
    .testimonial-carousel-item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        transition: -webkit-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
}

@supports ((-webkit-transform: translate3d(0, 0, 0)) or (transform: translate3d(0, 0, 0))) {
    .testimonial-carousel-item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        transition: -webkit-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
}