{#
/**
 * @file
 * Theme override for a field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}

{%
set classes = [
'field',
'field--name-' ~ field_name|clean_class,
'field--type-' ~ field_type|clean_class,
'field--label-' ~ label_display,
'clearfix',
]
%}

{% set title_classes = [
'field__label',
label_display == 'visually_hidden' ? 'visually-hidden',
] %}

<div{{ attributes.addClass(classes) }}>
    {% if not label_hidden %}
        <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
    {% endif %}
    <div class="field__items testimonial-carousel-items testimonial-carousel">
        {% for item in items %}
            <div{{ item.attributes.addClass('testimonial-carousel-item') }}>{{ item.content }}</div>
        {% endfor %}
    </div>
</div>