{#
/**
 * @file
 * Default theme implementation to display a testimonial carousel widget.
 *
 * Available variables:
 * - element: Form element for the testimonial carousel items.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_testimonial_carousel_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    <blockquote><p>{{ testimonial_blockquote }}</p></blockquote>
    <div class="cite">
        <span class="testimonials-name">{{ testimonial_name }}</span>
        <span class="testimonials-post">{{ testimonial_label }}</span>
    </div>
</div>