{#
/**
 * @file
 * Default theme implementation to display a testimonial carousel widget.
 *
 * Available variables:
 * - element: Form element for the testimonial carousel items.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_testimonial_carousel()
 *
 * @ingroup themeable
 */
#}
{% set carousel_classes = [
'testimonial_carousel',
'carousel',
'slide'
] %}
<div{{ attributes.addClass(carousel_classes) }} data-testimonial="carousel">
    <ol class="testimonial-carousel-indicators">
        {% for item in carousel_items %}
            <li data-target="#{{ id }}" data-slide-to="#{{ item['#attributes']['id'] }}" {% if loop.first %} class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <div class="testimonial-inner">
        {% for item in carousel_items %}
            {{ item }}
        {% endfor %}
    </div>
    <!-- Left and right controls -->
    <nav class="testimonial-control">
        <a class="testimonial-control-prev" href="#{{ id }}" role="button" data-slide="prev">
            <span class="nav-icon prev-icon">Previous</span>
        </a>
        <a class="testimonial-control-next" href="#{{ id }}" role="button" data-slide="next">
            <span class="nav-icon next-icon">Next</span>
        </a>
    </nav>
</div>